<main class="main">
  <h1 class="concept">TURISYOの使い方</h1>
  <div class="explain">
    <h2 class="index_h2">新規登録がまだの場合(登録にはメールアドレスが必要です)</h3>
    <p class="index_p">①右上の新規登録ボタンからユーザー登録を行います</p>
    <p class="index_p">②新規登録後、右上の新規作成ボタンを押し、必要な情報を入力します</p>
    <p class="index_p">③作成したものはユーザーマイページから確認できます</p>
    <p class="index_p">④作成したものはpdf出力をクリックすることによりpdf化できます</p>
    <h2 class="index_h2">登録がお済みの方</h3>
    <p class="index_p">①右上のログインボタンからログインしてください</p>
    <p class="index_p">②ログイン以降は上記の②〜④と同じになります</p>
  </div>
</main>